@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{

    margin: 0;
    padding: 0;

}

html{

    max-width: 100%;
    overflow: hidden;

}

body{

    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;

}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.heading img{

    height: 10rem;
    width: 10rem;

}

.heading p{

    font-size: 5rem;
    font-weight: bolder;

}


.container{

    display: flex;
    /* margin: auto; */
    margin-top: 3rem;
    margin-left: 28.5rem;

    justify-content: center;
    align-items: center;

    height: 25rem;
    width: 40rem;

    background-color: green;
    border: 2px solid white;

    border-radius: 20px;

}

.container input{

    margin: 1rem;

}


.mail img{
    position: absolute;
    top: 48%;
    /* margin-top: 1rem; */
    height: 53px;
    width: 53px;
}

.mail input{
    margin-bottom: 5rem;
    margin-left: 6rem;
    height: 2rem;
    width: 21rem;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    font-size: 2rem;
    /* padding: 2px 0; */
}

input:active{
    background: none;
}

.pass img{
    position: absolute;
    top: 64%;
    left: 36%;
    height: 53px;
    width: 53px;
}

.pass input{
    margin-bottom: 4rem;
    margin-left: 6rem;
    height: 2rem;
    width: 21rem;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    font-size: 2rem;
}

.container label{

    font-weight: bolder;
    color: white;

}

.btn{

    height: 3rem;
    width: 10rem;
    position: absolute;
    left: 46%;
    top: 80%;
    border: 2px solid white;
    background-color: rgb(36, 85, 36);
    color: white;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.2);
}